.example-form {
    min-width: 250px; 
    max-width: 800px; 
    width: 80%;
    margin: 0 auto;
  }
  
  .example-full-width {
    width: 100%; 
  }
  
  td {
    padding-right: 8px;
  }
  
  .text {
    font-size: 17px;
  }
  
  .address-field {
    width: calc(50% - 10px); 
    margin-right: 20px;
  }
  
  .address-fields-container {
    display: flex;
  }
  
  .address-field-space {
    width: 20px;
  }
  
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }